@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,700&display=swap");

/* source-sans-pro-regular - latin */
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src:
        local(""),
        url("/fonts/source-sans-pro-v21-latin-regular.woff2") format("woff2"),
        url("/fonts/source-sans-pro-v21-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-italic - latin */
@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 400;
    src:
        local(""),
        url("/fonts/source-sans-pro-v21-latin-italic.woff2") format("woff2"),
        url("/fonts/source-sans-pro-v21-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-700 - latin */
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 700;
    src:
        local(""),
        url("/fonts/source-sans-pro-v21-latin-700.woff2") format("woff2"),
        url("/fonts/source-sans-pro-v21-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-sans-pro-700italic - latin */
@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 700;
    src:
        local(""),
        url("/fonts/source-sans-pro-v21-latin-700italic.woff2") format("woff2"),
        url("/fonts/source-sans-pro-v21-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 100 700;
    src: url("https://fonts.gstatic.com/s/materialsymbolsoutlined/v57/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsLjBuVY.woff2") format("woff2");
}
